<p>You walked <strong>{{walked}}km</strong> on the {{day}}.</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{s_quality}}%" aria-valuemin="0" aria-valuemax="100" style="width: {{s_quality}}%;">{{s_quality}}% sleep quality</div>
</div>
<hr>
